#hamburger-wrapper {
  background-color: white;
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  padding-top: 1.1rem;
  cursor: pointer;
  background: transparent;
}

.burger {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
}

.burger,
.burger:before,
.burger:after {
  padding: 0;
  background-color: black;
  width: 100%;
  height: 5px;
  transition: margin 0.1s 0.2s, transform 0.2s;
}

.burger:before,
.burger:after {
  margin: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.burger:before {
  margin-top: -8px;
}

.burger:after {
  margin-top: 8px;
}

/* STYLES FOR OUR BURGER WHEN THE MENU OPENS */
.open .burger {
  transform: rotate(45deg);
}

.open .burger,
.open .burger:before,
.open .burger:after {
  transition: margin 0.2s, transform 0.1s 0.2s;
}

.open .burger:before,
.open .burger:after {
  margin-top: 0;
}

.open .burger:after {
  transform: rotate(-90deg);
}

.menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: darkblue;
  transition: right 0.3s ease;
}

.open {
  right: 0; /* Slide out to the right */
}

.menu-items {
  padding: 20px;
  list-style: none;
  font-size: 40px;
  margin-left: 20px;
  color: yellow;
}

.menu-items li {
  margin-bottom: 10px;
}
