.header_box {
  display: flex;
  height: 60px;
  padding: 1rem;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  /* width: 100%; */
  position: fixed;
  right: 0;
  left: 0;
}

.header_box img {
  width: 80px;
}

.header_box a {
  color: inherit;
  text-decoration: none;
  display: flex;
}

.header_box a div {
  display: inline-flex;
  text-transform: capitalize;
  font-size: 24px;
  margin-left: 0.5rem;
  align-self: center;
}
