.image_infinite_container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  width: 300px;
  height: 300px;
  max-width: 400px;
  max-height: 400px;
  background-size: 300px 300px;
  object-fit: cover;
  background: url('https://cdn.pixabay.com/photo/2020/07/14/16/18/snow-5404785_960_720.jpg') no-repeat;
}

@keyframes changeImage {
  /* 25% => 100%를 이미지 갯수만큼 */
  0%,
  25% {
    opacity: 1;
  }
  25%,
  100% {
    opacity: 0;
  }
}

.image_infinite_container img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.image_infinite_container:hover img {
  animation: changeImage 1s infinite;
}

.image_infinite_container img:nth-child(2) {
  /* 1초를 이미지 갯수만큼 나누면 됨 */
  animation-delay: 0.23s;
}

.image_infinite_container img:nth-child(3) {
  animation-delay: 0.23s;
}

.image_infinite_container img:nth-child(4) {
  animation-delay: 0.23s;
}

.image_infinite_container div:nth-child(5) {
  font-size: 20px;
  color: black;
}

.image_infinite_container div:nth-child(6) {
  font-size: 40px;
  color: red;
}
