@import 'image_slide_ani.css';
@import 'image_infinite.css';
@import 'image_size_up.css';
@import 'image_size_down.css';

#lottie_sample {
  width: 100%;
  max-width: 500px;
}

.main_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
